<mat-card>
  <mat-card-header>
    <mat-form-field>
	  <input matInput placeholder="Search by keywords">
	</mat-form-field>

	<mat-form-field>
	  	<mat-select placeholder="Filter by plant">
	      <mat-option value="option1">Tomatos</mat-option>
	      <mat-option value="option2">Potatoes</mat-option>
	      <mat-option value="option3">Сucumber</mat-option>
	    </mat-select>
	</mat-form-field>

	<button mat-button color="primary">Search</button>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
  	<gh-demo-green-house-grid [data]="data"></gh-demo-green-house-grid>
  </mat-card-content>

</mat-card>
