<ul class="menu">
	<li>
		<div class="menu__title">Public</div>

		<ul class="menu__group">
			<li><a class="menu__link" routerLink="landing" routerLinkActive="menu__link--active">Landing</a></li>

			<li><a class="menu__link" routerLink="search" routerLinkActive="menu__link--active">Search</a></li>

			<li><a class="menu__link" routerLink="green-house" routerLinkActive="menu__link--active">Green House</a></li>

			<li><a class="menu__link" routerLink="profile" routerLinkActive="menu__link--active">Profile</a></li>

			<li><a class="menu__link" routerLink="login" routerLinkActive="menu__link--active">Login / Registration</a></li>

			<li><a class="menu__link" routerLink="checkout" routerLinkActive="menu__link--active">Checkout</a></li>

			<li><a class="menu__link" routerLink="article" routerLinkActive="menu__link--active">Article</a></li>
		</ul>
	</li>

	
	<li>
		<div class="menu__title">Client</div>

		<ul class="menu__group">
			<li><a class="menu__link" routerLink="order-list" routerLinkActive="menu__link--active">
				Orders <span class="menu__counter">(2)</span>
			</a></li>

			<li><a class="menu__link" routerLink="profile-edit" routerLinkActive="menu__link--active">Edit Profile</a></li>
		</ul>
	</li>

	<li>
		<div class="menu__title">Business</div>

		<ul class="menu__group">
			<li><a class="menu__link" routerLink="green-house-list" routerLinkActive="menu__link--active">Green Houses</a></li>

			<li><a class="menu__link" routerLink="green-house-statistic" routerLinkActive="menu__link--active">Green House Statistic</a></li>

			<li><a class="menu__link" routerLink="green-house-edit" routerLinkActive="menu__link--active">Add/Edit Green House</a></li>
		</ul>
	</li>

	<li>
		<div class="menu__title">Admin</div>

		<ul class="menu__group">
			<li><a class="menu__link" routerLink="manage-green-house-list" routerLinkActive="menu__link--active">Manage Green Houses</a></li>

			<li><a class="menu__link" routerLink="manage-profile-list" routerLinkActive="menu__link--active">Manage Profiles</a></li>

			<li><a class="menu__link" routerLink="manage-plant-list" routerLinkActive="menu__link--active">Manage Plants</a></li>
		</ul>
	</li>
</ul>
