<div class="gh-card">
	<div class="gh-card__header">
		<div class="gh-card__title">{{item.title}}</div>

		<div class="gh-card__header-icons">
			<i class="fa fa-heart"></i>
		</div>
	</div>
	
	<div class="gh-card__image" [style.background-image]="'url(' + item.image + ')'"></div>

	<div class="gh-card__params">
		<div class="gh-card__param" title="Available square meters">
			<i class="fa fa-pie-chart gh-card__param-icon"></i> {{item.square}}
		</div>

		<div class="gh-card__param" title="Price per 1 square meter">
			<i class="fa fa fa-dollar gh-card__param-icon"></i> {{item.price}}
		</div>
	</div>
</div>
