<div class="card">
	<div class="card__header">
		<div class="card__title">{{item.title}}</div>

		<div class="card__header-icons">
			<i class="fa fa-heart"></i>
		</div>
	</div>
	
	<div class="card__image" [style.background-image]="'url(' + item.image + ')'"></div>

	<div class="card__params">
		<div class="card__param" title="Available square meters">
			<i class="fa fa-pie-chart card__param-icon"></i> {{item.square}}
		</div>

		<div class="card__param" title="Price per 1 square meter">
			<i class="fa fa fa-dollar card__param-icon"></i> {{item.price}}
		</div>
	</div>
</div>
