:host {
	display: flex;
	flex-flow: row wrap;
}

.mat-card {
	width: 250px;
	margin: 0 20px 20px 0;
	background: #EFEFEF;
}

.mat-card-title {
	font-weight: 600;
}

.mat-card-content {
	& img {
		width: 100%;
	}
}
